@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --primary-color: #01253b;
    --secondary-color: #eca63d;
    --background-color: rgb(222, 222, 222);
    --background-color2: #005489;
}

* {
    font-family: Outfit, sans-serif;
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
}

body {
    background-color: var(--background-color2);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 80px;
    background-color: var(--primary-color);
    justify-content: flex-start;
    img {
        padding-left: 20px;
        height: 100%;
    }
    nav {
        display: flex;
        height: 100%;
        ul {
            display: flex;
            height: 100%;
            li {
                display: flex;
                height: 100%;
                font-size: 1.3em;
                padding: 0 20px;
            }
        }
    }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.active {
    font-weight: 700;
    border-bottom: 2px solid var(--secondary-color);
}
