@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --primary-color: #01253b;
    --secondary-color: #eca63d;
    --background-color: rgb(208, 208, 208);
    --hover-color: #888888;
}

* {
    font-family: Outfit, sans-serif;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: var(--background-color);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "footer footer";
}

header {
    grid-area: header;
    background-color: var(--primary-color);
    nav {
        display: flex;
        height: 6vh;
        img {
            padding: 0 0 0 1vw;
            object-fit: contain;
            height: 100%;
        }
        .nav-bar li {
            padding: 0 2vw;
        }
        ul {
            height: 100%;
            display: flex;
            li {
                display: flex;
                height: 100%;
            }
        }
        .active {
            font-weight: 700;
            border-bottom: 2px solid var(--secondary-color);
        }
    }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Classes */
.discord {
    color: #7289da;
}
.twitter {
    color: #1da1f2;
}
.youtube {
    color: #ff0000;
}
