@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #01253b;
    --secondary-color: #eca63d;
    --background-color: rgb(208, 208, 208);
}

* {
    margin: 0;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    color: white;
    list-style: none;
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
}

header img {
    padding-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    padding: 20px 10px;
    border-left: 1.5px solid var(--background-color);
}

header nav ul li {
    padding: 0 20px;
    font-weight: 300;
}

main {
    background-color: #2ecc71;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: var(--primary-color);
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.small-logo {
    width: 60px;
}

.active {
    font-weight: 600;
}
